
/.idea
/.venv
/videos
rn3.zip
__pycache__/displayImageFromVideo.cpython-311.pyc
/data
/__pycache__
preprocessed_dataset.h5
/.venv-3.9
ct.py
/test_videos
/logs
discriminator.pth
generated_images/imageData_10epochs.png
generated_images/imageData.png
generated_images/imageData_epocha7din10_128batch.png
img_align_celeba.zip
/GUI/static/frames
HDF5Dataset.py
HDF5Dataset.py
/GUI/static/videos
generator_30epochs.pth
discriminator_30epochs_valid.pth
config.py
/celeba
*.pth
/Proiect_final
*.jpg
